<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
        <span class="header">
          <a href="{{ item.url }}">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
        </a>
        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
          
        </p>
        {% endif %}

        {% if item.date != false %}
      <p class="body">
        {{item.date}}<br>{{item.date}}
      </p>
      {% endif %}
    </li>

  {% endfor %}
</ul>
